.PricingHero{
    background: url("../images/wallpaper2.jpg");
    height: 920px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .PricingHeroGroup {
  
    max-width: 500px;
    padding: 150px 50px;
  }

  .PricingHero h1 {
    margin: 0;
    color: white;
    font-size: 48px;
    line-height: 1.2;
    animation: HeroAnimation;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    margin-bottom: 60px;
  }
  
  .PricingHero p {
  color: rgba(65,74,69,0.8);
  font-size: 24px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  }
  .PricingHero p:nth-child(3) {
  font-weight:400;
  margin-bottom: 60px;
    }
  
  .PricingHero a {
    font-size: 17px;
      font-weight: 600;
      color: white;
      background: rgba(245,164,144,1);
      padding: 9px 20px;
      border: 1px solid rgba(245,164,144,0.25);
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
      
  }
  
  .PricingHero a:hover {
    background: white;
      box-shadow: 010px 20px rgba(0,0,0,0.25);
      transform: translateY(-3px);
      color: #f5a490;
  }
  
  @media (max-width: 640px) {
    .PricingHeroGroup {
      padding: 100px 20px;
    }
  
    .PricingHero h1 {
      font-size: 30px;
    }
  
    .PricingHero p {
      font-size: 18px;
    }
  }
  
  @keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes BoxAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
      0% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  .PricingHero svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }