.Card {

    position: relative;
padding: 40px;
    box-shadow: 0 20px 40px rgba(245,164,144,0.25);
    display: grid;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
transform: scale(1.1,1.1);
box-shadow: 0 30px 60px rgba(193,182,194,0.5);
}

.Card:hover img {
    transform: translateY(-20px);
}

.Card img {
    position: absolute;
    top: 0;
    height: 110%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
    color: #89CBC0;
    font-size: 14px;
    margin: 20px 0 0 20px;
    width: 190px;
}

.Card p {
    color: #897F8A;
    font-weight: 600;
    font-size: 18px;
    align-self: flex-start;
    margin: 20px 20px 20px 20px;
    line-height: 1.7;
}
